.App {
  width: 100%;
  height:120vh;
  background-color: #293241;

 
}

h3{
  /* background-color: red; */
  font-size: 2rem;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
}

.crash{

  background-image: url("./Images/crash.png");
  background-size:cover;
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.kick{
  background-image: url("./Images/kick.png");
  background-size:cover;
  object-fit: cover;

}
.snare{
  background-image: url("./Images/snare.png");
  background-size:cover;
  object-fit: cover;


}

.tom1{
  background-image: url("./Images/tom1.png");
  background-size:cover;
  object-fit: cover;


}
.tom2{
  background-image: url("./Images/tom2.png");
  background-size:cover;
  object-fit: cover;
  
}
.tom3{
  background-image: url("./Images/tom3.png");
  background-size:cover;
  object-fit: cover;
  
  
}
.tom4{
  background-image: url("./Images/tom4.png");
  background-size:cover;
  object-fit: cover;
  
  
  
}